{% autoescape off %}

Hi {{first_name}}! 

Welcome to Champhunt - the world’s first Cricket-only networking platform. 

We are elated to have you on board.  As a sign-up bonus, we have credited your Champhunt account with X Crickcoins.  These Crickcoins can be redeemed for various offerings in our deals (insert link for deals) section.

Here are a few things you can do on Champhunt, each of which could fetch you more Crickcoins:

Interacting on the pitch (insert link for pitch) by posting content or reacting to content posted by others.
Participating in our daily activities like quizzes, polls etc. (insert link for activities)
Inviting friends to Champhunt (insert link to referral page). Both you and your friend will get X Crickcoins for every friend that joins Champhunt using your referral code/link.

Looking forward to seeing you in action!

Regards,
-Team Champhunt

P.S. If there is anything you’d like our help with, you can reach out to us on:
admin@champhunt.com
Instagram page (https://www.instagram.com/champ_hunt/)
Facebook page (https://www.facebook.com/champhunt10/)

{% endautoescape %}