{% autoescape off %}

Hi {{first_name}}! 

Congratulations on redeeming your well earned Crickcoins for one of our awesome deals!

Here are the details of your redemption:

Deal name: {{deal_name}}
No. of Crickcoins spent: {{crickcoins}}
Other details: {{redemption_code}}

Enjoy!

-Team Champhunt

P.S. If there is anything you’d like our help with, you can reach out to us on:
admin@champhunt.com
Instagram page (https://www.instagram.com/champ_hunt/)
Facebook page (https://www.facebook.com/champhunt10/)

{% endautoescape %}